<%= form_tag("/login") do %>
	<div class="field">
	  <%= label_tag :email, "邮箱"%>
	  <%= text_field_tag "user[email]" %>
	</div>
	<div class="field">
	  <%= label_tag :password, "密码"%>
	  <%= password_field_tag "user[password]" %>
	</div>
	<%= submit_tag "登陆", class: "btn btn-primary" %>
	<%= link_to "没有账号？点击注册", register_page_path %>
<% end %>
