<div class="error-msg"><%= "登录信息有误，请重新输入" if @user.nil? %></div>

<%= form_tag("/login") do %>
	<div class="field">
	  <div><%= label_tag :email, "邮箱"%></div>
	  <%= text_field_tag "user[email]" %>
	</div>
	<div class="field">
	  <div><%= label_tag :password, "密码"%></div>
	  <%= password_field_tag "user[password]" %>
	</div>
	<%= submit_tag "登录", class: "btn btn-primary" %>
	<span>或者</span><a href="<%= douban_oauth_url %>"><%= image_tag "login_with_douban_32.png" %></a>
<% end %>
