<% book_infos.take(3).each do |book_info| %>
	<div>
	  <% if book_info[:i_read] %>
		  <%= image_tag("read.jpeg", width: "20px", height: "20px") %>
	  <% end %>
	  <a href="<%= book_info[:book_url] %>"><%= book_info[:title] %></a>
	</div>
	<div>
	  <p>共有<%= book_info[:read_num] %>个人读过本书，他们是：</p>
	  <ul>
		<% book_info[:read_people].each do |person| %>
			<a href="<%= person[:douban_link] %>"><%= person[:name] %></a>
		<% end %>
	  </ul>
	</div>
<% end %>