<p id="notice"><%= notice %></p>

<div class="field">
  组名：<%= @group.name %>
</div>
<div class="field">
  描述：<%= @group.description%>
</div>

<%= link_to 'Edit', edit_group_path(@group) %>

<% if @current_user_in_group  %>
	<div>你已经加入该组，也许你想要</div>
	<%= form_tag "/leave_group" do %>
		<input name="id" value="<%= @group.id %>" hidden="hidden">
		<%= submit_tag "退出" %>
	<% end %>
<% else %>
	<%= form_tag "/join_group" do %>
		<input name="id" value="<%= @group.id %>" hidden="hidden">
		<%= submit_tag "加入" %>
	<% end %>
<% end %>

<h1>组员在读的书（总人数<%= @group.users.size %>）</h1>
<% @book_infos.each do |book_info|%>
	<div>
	  <% if book_info[:i_read] %>
	  	<img src="/assets/read.jpeg" width="20px" height="20px">
	  <% end %>
	  <a href="<%= book_info[:book_url] %>"><%= book_info[:title] %></a>
	</div>
	<div>
	  <p>共有<%= book_info[:read_num] %>个人读过本书，他们是：</p>
	  <ul>
		<% book_info[:read_people].each do |person| %>
			<a href="<%= person[:douban_link] %>"><%= person[:name] %></a>
		<% end%>
	  </ul>
	</div>
<% end%>