<!DOCTYPE html>
<html>
<head>
  <title>Groupread</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<div class="header">
  <span>团队阅读</span>
  <% if current_user.nil? %>
	  <%= link_to "登陆", login_path %>
  <% else %>
	  <%= link_to "我的设置", setting_path %>
	  <%= form_tag "/logout", class: "inline-form" do %>
			<%= submit_tag "登出" %>
	  <% end %>
  <% end %>
</div>

<%= yield %>

</div>

</body>
</html>
